/* Components
------------------------------------------------------------*/

.popup {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &.--show {
    opacity: 1;
    pointer-events: auto;
  }

  @include maxW(1023px) {
    background-color: rgba(255, 255, 255, 0.9);
  }

  &_close {
    position: absolute;
    top: 110px;
    right: 8.1vw;
    cursor: pointer;

    @include maxW(1023px) {
      svg {
        width: 30px;
        height: 30px;
      }
      top: auto;
      right: auto;
      bottom: 20px;
      left: 20px;
    }
  }

  &_inner {
    width: 100%;
    height: 100%;
    padding: 110px 8.1vw;
    overflow: hidden;

    @include maxW(1023px) {
      padding: 40px;
    }
  }

  &_list {
    li {
      margin-bottom: 20px;

      h2 {
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: 500;
      }

      a {
        display: block;
        width: 56px;
        height: 20px;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        color: $black-cl;
        border-radius: 20px;
        border: 1px solid $black-cl;
        margin-top: 7px;
        transition: all 0.15s linear;
        font-family: "futura-pt", sans-serif;

        &:hover {
          background-color: #002f51;
          border: 1px solid #002f51;
          color: #fff;
          opacity: 1;
        }

        &.--disable {
          pointer-events: none;
          background-color: transparent;
          border: 1px solid #bebebe;
          color: #bebebe;
        }
      }

      @include maxW(1023px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          width: 75%;
        }

        a {
          margin-top: 0;
          width: 70px;
          height: 25px;
          line-height: 22px;
          font-size: 1.6rem;
          background-color: #002f51;
          border: 1px solid #002f51;
          color: #fff;
        }
      }
    }
  }
}
