/* Utils
------------------------------------------------------------*/

.js-ships-fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

[data-slide-fade] {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

main img {
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &:not([src]) {
    visibility: hidden;
  }

  &.initial,
  &.loaded,
  &.error {
    opacity: 1;
  }
}

/* only device */

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
