/* variables
------------------------------------------------------------*/
$main-fonts: "neue-haas-grotesk-display", sans-serif;
$eb-fonts: "eb-garamond", serif;

//color common
$main-bg-cl: #fff;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #ececec;

:root {
  --app-height: 100vh;
}
